<ion-header>

  <ion-navbar>
    <ion-title>add-spare-parts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>Manufacture</ion-label>
        <ion-select [(ngModel)]="manufacturer" (ionChange)="loadModels()">
          <ion-option *ngFor="let m of manufacturers"
                      [value]="m">{{m.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Model</ion-label>
        <ion-select [disabled]="!isManufacturerAvailable()"
                    [(ngModel)]="model">
          <ion-option *ngFor="let m of models"
                      [value]="m">{{m.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Categories</ion-label>
        <ion-select [(ngModel)]="category">
          <ion-option *ngFor="let c of categories"
                      [value]="c">{{c.name}}
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-row>

    <ion-row padding>
      <ion-label>Title</ion-label>
      <ion-col col-12>
        <input type="text" [(ngModel)]="title">
      </ion-col>

      <ion-label>Condition</ion-label>
      <ion-col col-12>
        <input type="text" [(ngModel)]="condition">
      </ion-col>

      <ion-label>Price</ion-label>
      <ion-col col-12>
        <input type="text" [(ngModel)]="price">
      </ion-col>

      <ion-label>Description</ion-label>
      <ion-col col-12>
        <textarea [(ngModel)]="description" col-12 rows="4">
      </textarea>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-label>Images</ion-label>
      <ion-row>
        <ion-col col-6 tappable (click)="takeSpatePartImage('image1')">
          <img [src]="getImageSrc('image1')"
               alt="default-image">
        </ion-col>
        <ion-col col-6 tappable (click)="takeSpatePartImage('image2')">
          <img [src]="getImageSrc('image2')"
               alt="default-image">
        </ion-col>
        <ion-col col-6 tappable (click)="takeSpatePartImage('image3')">
          <img [src]="getImageSrc('image3')"
               alt="default-image">
        </ion-col>
        <ion-col col-6 tappable (click)="takeSpatePartImage('image4')">
          <img [src]="getImageSrc('image4')"
               alt="default-image">
        </ion-col>
      </ion-row>

    </ion-row>

    <ion-row margin-bottom>
      <button ion-button class="center" (click)="loadPreviewPage()">Upload
      </button>
    </ion-row>

  </ion-grid>

</ion-content>
