page-home {
  ion-searchbar {
    padding: 0 0 0 0 !important;
    margin-bottom: 15px;
  }
  .price {
    font-size: 13px;
    color: #000000;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .time {
    font-size: 12px;
    padding-top: 5px;
  }

  .no-items {
    font-family: "Roboto Condensed" !important;
    font-size: 16px;
    color: #666;
  }
}
