<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <category-selector (itemChanged)="onItemChanged($event)"></category-selector>

  <P *ngIf="items.length < 1">No items found</P>

  <ion-list>
    <ion-item *ngFor="let item of items" tappable
              (click)="loadSingleItemModal(item.id)">
      <ion-thumbnail item-start>
        <img [src]="getImageSrc(item.images[0])">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.modelName}} • {{item.cityName}}</p>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <filters ion-fixed [itemType]="selectedItemType"></filters>

</ion-content>
