<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-searchbar
    class="font-open-sans"
    (ionInput)="onSearchText($event)"
    [(ngModel)]="keyword"
    [type]="text">
  </ion-searchbar>

  <category-selector (itemChanged)="onItemChanged($event)"></category-selector>

  <P class="no-items" *ngIf="items.length < 1">No items found</P>

  <ion-list class="font-roboto-condensed">
    <ion-item *ngFor="let item of items" tappable class="pl-0"
              (click)="loadSingleItemModal(item.id)">
      <ion-thumbnail item-start>
        <img [src]="getImageSrc(item.images[0])">
      </ion-thumbnail>
      <p class="title">{{item.title}}</p>
      <div *ngIf="item.item_type === 'vehicle'">
        <p>{{item.city_name}} • {{item.year}}</p>
        <p class="price">Rs {{item.price}}</p>
      </div>
      <div *ngIf="item.item_type === 'part'">
        <p>{{item.city_name}} • {{item.item_category_name}}</p>
        <p class="price">Rs {{item.price}}</p>
      </div>
      <p class="time" text-right>
        12 Mar 10.00 AM
      </p>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <filters ion-fixed [itemType]="selectedItemType"
           [formData]="filters"
           (searchParamsChanged)="searchParamsChanged($event)"></filters>

</ion-content>
