<ion-item>
  <ion-label>District</ion-label>
  <ion-select [(ngModel)]="selectedDistrict" [name]="formFields.District"
              (ionChange)="getCities(selectedDistrict)">
    <ion-option *ngFor="let d of districts"
                [value]="d.id">{{d.name}}
    </ion-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>City</ion-label>
  <ion-select [(ngModel)]="selectedCity" [name]="formFields.City">
    <ion-option *ngFor="let c of cities"
                [value]="c.id">{{c.name}}
    </ion-option>
  </ion-select>
</ion-item>
