// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-navbar {
  font-family: "Open Sans";
}

.error-toast .toast-wrapper {
  background-color: color($colors, danger);
  color: #fff;
  //border-radius: 5px !important;$colors
}

.success-toast .toast-wrapper {
  background-color: color($colors, primary);
  color: #fff ;
  //border-radius: 5px !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.center {
  text-align: center;
  margin: 0 auto;
}

.tabbar {
  opacity: inherit;
}

.navbar-white > .toolbar-background {
  background-color: #ffffff;
}

.font-open-sans {
  font-family: "Open Sans" !important;
}

.font-montserrat {
  font-family: "Montserrat" !important;
}

.font-roboto-condensed {
  font-family: "Roboto Condensed" !important;
}

//Menu

.menu-title .toolbar-title {
  color: #fff;
  font-family: "Open Sans";
}

.menu-title .toolbar-background {
  background-color: color($colors, primary);
}

.menu-items button {
  font-family: "Open Sans";
  color: color($colors, primary);
  font-weight: 600;
}

.menu-items .item-inner {
  border-color: #f1e2c2 !important
}

.version {
  padding-left: 16px;
}

.version .number {
  font-family: "Roboto Condensed";
}

.version .legal a {
  text-decoration: none;
  font-family: "Open Sans";
}

.menu-inner {
  .content {
    background: none;
  }
  .item {
    background: none;
  }
}
