camera-image {

  .image-container {
    position: relative;
  }

  .edit-button {
    text-align: center;
    width: 100%;
    padding: 7px;
    background: #498aff;
    color: white;
  }

  .delete-button {
    text-align: center;
    position: absolute;
    padding: 7px;
    background: #d46060;
    color: white;
    right: 0;
  }

}
