<ion-col no-padding>
  <img-loader [src]="getImageSrc()" [spinner]="true"
              [useImg]="true"
              class="image-container">
    <button *ngIf="isValidUrl() && type === 'edit'" small
            class="delete-button"
            (click)="presentConfirm()">X</button>
  </img-loader>
  <button *ngIf="!isValidUrl()" (click)="takeSparePartImage()" small
          class="edit-button">Add</button>
  <button *ngIf="isValidUrl()" (click)="takeSparePartImage()" small
          class="edit-button">Change</button>
</ion-col>



