<div no-padding class="content-wrapper">
  <button *ngIf="isValidUrl()" class="delete-button" (click)="presentConfirm()">
    <ion-icon name="close"></ion-icon>
  </button>
  <img-loader [src]="getImageSrc()" [spinner]="true"
              [useImg]="true"
              class="image-container">
    <button *ngIf="isValidUrl() && type === 'edit'" small
            class="delete-button"
            (click)="presentConfirm()">X</button>
  </img-loader>
  <button *ngIf="!isValidUrl()" (click)="takeImage()" small
          class="edit-button">ADD</button>
  <button *ngIf="isValidUrl()" (click)="takeImage()" small
          class="edit-button">CHANGE</button>
</div>



