<ion-header>

  <ion-navbar>
    <ion-title>edit-spare-parts</ion-title>
    <ion-buttons right>
      <button class="settings-side-buttons" ion-button
              (click)="closeModal()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>

      <ion-item>
        <ion-label>Manufacture</ion-label>
        <ion-select [(ngModel)]="manufacturer"
                    (ionChange)="loadModels()">
          <ion-option *ngFor="let m of manufacturers"
                      [selected]="manufacturer?.id === m.id"
                      [value]="m.id">{{m.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Model</ion-label>
        <ion-select [disabled]="!manufacturer"
                    [(ngModel)]="model">
          <ion-option *ngFor="let m of models"
                      [value]="m.id">{{m.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="category">
          <ion-option *ngFor="let c of categories"
                      [value]="c.id">{{c.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Condition</ion-label>
        <ion-select [(ngModel)]="condition">
          <ion-option *ngFor="let condition of conditions"
                      [value]="condition.id">{{condition.name}}
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-row>

    <ion-row padding>
      <ion-label>Title</ion-label>
      <ion-col col-12>
        <input type="text" [(ngModel)]="title">
      </ion-col>

      <ion-label>Price</ion-label>
      <ion-col col-12>
        <input type="text" [(ngModel)]="price">
      </ion-col>

      <ion-label>Description</ion-label>
      <ion-col col-12>
        <textarea [(ngModel)]="description" col-12 rows="4">
      </textarea>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-label>Images</ion-label>
      <ion-row>
        <ion-col col-6 *ngFor="let img of imagesArray">
          <camera-image
            (changeImage)="updateImage($event, img.id)"
            [imageInputSrc]="img.url"
          ></camera-image>
        </ion-col>
      </ion-row>

    </ion-row>

    <ion-row margin-bottom>
      <button ion-button class="center">Update</button>
    </ion-row>

  </ion-grid>
</ion-content>
