<ion-content>
  <ion-grid>
    <form #metaDataForm="ngForm" (submit)="setData(metaDataForm.value)">
      <!--<ion-row>-->
      <!--<ion-item>-->
      <!--<ion-label>Manufacture</ion-label>-->
      <!--<ion-select [(ngModel)]="manufacturer" (ionChange)="loadModels()">-->
      <!--<ion-option *ngFor="let m of manufacturers"-->
      <!--[value]="m">{{m.name}}-->
      <!--</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Model</ion-label>-->
      <!--<ion-select [disabled]="!isManufacturerAvailable()"-->
      <!--[(ngModel)]="model">-->
      <!--<ion-option *ngFor="let m of models"-->
      <!--[value]="m">{{m.name}}-->
      <!--</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Category</ion-label>-->
      <!--<ion-select [(ngModel)]="category">-->
      <!--<ion-option *ngFor="let c of categories"-->
      <!--[value]="c">{{c.name}}-->
      <!--</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Condition</ion-label>-->
      <!--<ion-select [(ngModel)]="condition">-->
      <!--<ion-option *ngFor="let condition of conditions"-->
      <!--[value]="condition">{{condition.name}}-->
      <!--</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->
      <!--</ion-row>-->

      <ion-row>

        <section col-12 *ngIf="getDisplayOption('title')">
          <ion-label>Title</ion-label>
          <ion-col col-12>
            <input [ngModel]="getValue('title')" name="title" type="text">
          </ion-col>
        </section>

        <section col-12 *ngIf="getDisplayOption('price')">
          <ion-label>Price</ion-label>
          <ion-col col-12>
            <input [ngModel]="getValue('price')" type="text" name="price">
          </ion-col>
        </section>

        <section col-12 *ngIf="getDisplayOption('mileage')">
          <ion-label>Mileage</ion-label>
          <ion-col col-12>
            <input [ngModel]="getValue('mileage')" name="mileage">
          </ion-col>
        </section>

        <section col-12 *ngIf="getDisplayOption('contact')">
          <ion-label>Contact</ion-label>
          <ion-col col-12>
            <textarea [ngModel]="getValue('contact')" name="contact"
                      col-12 rows="4">
            </textarea>
          </ion-col>
        </section>

        <section col-12 *ngIf="getDisplayOption('description')">
          <ion-label>Description</ion-label>
          <ion-col col-12>
            <textarea [ngModel]="getValue('description')" name="description"
                      col-12 rows="4">
            </textarea>
          </ion-col>
        </section>

        <section col-12 *ngIf="getDisplayOption('model')">
          <field-model [defaultValue]="1"></field-model>
        </section>


      </ion-row>

      <button ion-button full type="submit">Submit</button>

    </form>
  </ion-grid>
</ion-content>

