<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inventory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <category-selector (itemChanged)="onItemChanged($event)"></category-selector>
  <!--<filters ion-fixed [itemType]="selectedItemType"></filters>-->

  <P *ngIf="items.length < 1">No items found</P>

  <ion-list>

    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="edit(item.id)">
        <ion-thumbnail item-start>
          <img [src]="getImageSrc(item.images[0])">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p>{{item.model}} • {{item.year}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button class="delete-button" (click)="deleteConfirmation(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
